.heading {
    text-transform: uppercase;
    font-weight: normal;
    padding-left: 1rem;
}

.group {
    padding-left: 1rem;
    display: flex;
    gap: .5rem;
    align-items: center;
    font-weight: bold;
}

.action {
    padding-left: 1rem;
    color: rgb(75, 75, 255);
    display: flex;
    align-items: center;
    gap: .25rem;
    cursor: pointer;
}

.backButton {
    color: rgb(104, 104, 104);
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: .25rem;
    cursor: pointer;
}

.wrapper {
    padding: 1rem;
    box-sizing: border-box;
    width: 100%;
}